<div class="nav-contact">
	<div class="col-md-12">
		<a href="" data-remote="true" class="list-group-item active lk-contact" style="padding: 3px 15px"> Leave us a message! <span class="icon-contact"><i class="fa fa-plus"></i></span> </a>
		<div class="list-group group-contact" style="margin-bottom: 0;display: none">
			<div class="list-group-item">
				We're not around, but we'd love to chat another time or you can leave us a message!
			</div>
			<div class="list-group-item">
				<div class="form-group">
					<label for="inputdefault">Name:</label>
					<input class="form-control" type="text">
				</div>
				<div class="form-group">
					<label for="inputdefault">Email:</label>
					<input class="form-control" type="text">
				</div>
				<div class="form-group">
					<label for="inputdefault">Message:</label>
					<textarea class="form-control"></textarea>
				</div>
			</div>
			<div class="list-group-item">
				<button type="submit" class="btn btn-success" style="width: 100%">
					<i class="fa fa-envelope-o"></i> Send
				</button>
			</div>
		</div>
	</div>
</div>
