.cart-amount, .cart-amount-medium, .cart-amount-larger{
  position: absolute;
  right: 30px;
  top: 11px;
  color: #fff;
}
.cart-amount-larger{
  right: 23px;
}
.nav-cart-item{
  border-top: 1px solid #e6e6e6;
}
.nav-cart-item:last-child{
  border-bottom: 1px solid #e6e6e6;
}
.nav-contact{
  width: 350px;
  position: fixed;
  bottom: 0;
  right: 5px;
}
.icon-contact{
  float: right;
}